<div class="row">
  <div class="col-md-4 text-center">
    <img src="assets/hato_walk.jpg" width="200" class="rounded-circle" style="background-color: grey;" alt="image">
    <h2>Heading</h2>
    <p>This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. </p>
    <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-secondary' %></p>
  </div>
  <div class="col-md-4 text-center">
    <img src="assets/hato_walk.jpg" width="200" class="rounded-circle" style="background-color: grey;" alt="image">
    <h2>Heading</h2>
    <p>This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. </p>
    <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-secondary' %></p>
  </div>
  <div class="col-md-4 text-center">
    <img src="assets/hato_walk.jpg" width="200" class="rounded-circle" style="background-color: grey;" alt="image">
    <h2>Heading</h2>
    <p>This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. </p>
    <p><%= link_to 'View details &raquo;'.html_safe, '#', class: 'btn btn-secondary' %></p>
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="col-md-7">
    <h2 class="head">First featurette heading.</h2>
    <p class="text-muted">Detail</p>
  </div>
  <div class="col-md-5">
    <img src="assets/hato_walk.jpg" class="img-fluid mx-auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="col-md-7 order-md-2">
    <h2 class="head">Second featurette heading.</h2>
    <p class="text-muted">Detail</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="assets/hato_walk.jpg" class="img-fluid mx-auto" alt="Generic placeholder image">
  </div>
</div>
