.row
  .col-md-4.text-center
    img.rounded-circle[src="assets/hato_walk.jpg" width="200" style="background-color: grey;" alt="image"]
    h2 Heading
    p This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. 
    p
      = link_to 'View details »'.html_safe, '#', class: 'btn btn-secondary'
  .col-md-4.text-center
    img.rounded-circle[src="assets/hato_walk.jpg" width="200" style="background-color: grey;" alt="image"]
    h2 Heading
    p This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. 
    p
      = link_to 'View details »'.html_safe, '#', class: 'btn btn-secondary'
  .col-md-4.text-center
    img.rounded-circle[src="assets/hato_walk.jpg" width="200" style="background-color: grey;" alt="image"]
    h2 Heading
    p This is Detail of the Content.This is Detail of the ContentThis is Detail of the Content.This is Detail of the Content.This is Detail of the Content.. 
    p
      = link_to 'View details »'.html_safe, '#', class: 'btn btn-secondary'
hr.my-4
.row
  .col-md-7
    h2.head First featurette heading.
    p.text-muted Detail
  .col-md-5
    img.img-fluid.mx-auto[src="assets/hato_walk.jpg" alt="Generic placeholder image"]
hr.my-4
.row
  .col-md-7.order-md-2
    h2.head Second featurette heading.
    p.text-muted Detail
  .col-md-5.order-md-1
    img.img-fluid.mx-auto[src="assets/hato_walk.jpg" alt="Generic placeholder image"]
