footer.py-5.text-light.bg-dark
  .container
    .row
      .col-12.col-md
        small.d-block.mb-3.text-muted © 2017-2018
      .col-6.col-md
        h5 Features
        ul.list-unstyled.text-small
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
      .col-6.col-md
        h5 Features
        ul.list-unstyled.text-small
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
      .col-6.col-md
        h5 Features
        ul.list-unstyled.text-small
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
      .col-6.col-md
        h5 Features
        ul.list-unstyled.text-small
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
          li
            a.text-muted[href="#"] Cool stuff
