<div class="py-3 text-center">
  <%= image_tag 'hato_walk_squair.jpg', size: '200x200', class: 'rounded' %>
  <h1>Second Home</h1>
  <p class="text-muted">This is page Detail</p>
</div>

<div class="card-deck text-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Free</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>10 users included</li>
        <li>2 GB of storage</li>
      </ul>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Free</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>10 users included</li>
        <li>2 GB of storage</li>
      </ul>
    </div>
  </div>
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Free</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled">
        <li>10 users included</li>
        <li>2 GB of storage</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled">
          <li>10 users included</li>
          <li>2 GB of storage</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled">
          <li>10 users included</li>
          <li>2 GB of storage</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled">
          <li>10 users included</li>
          <li>2 GB of storage</li>
        </ul>
      </div>
    </div>
  </div>
</div>
