.py-3.text-center
  = image_tag 'hato_walk_squair.jpg', size: '200x200', class: 'rounded'
  h1
    | Second Home
  p.text-muted
    | This is page Detail
.card-deck.text-center
  .card.mb-4.box-shadow
    .card-header
      h4.my-0.font-weight-normal
        | Free
    .card-body
      h1.card-title
        | $0 
        small.text-muted
          | / mo
      ul.list-unstyled
        li
          | 10 users included
        li
          | 2 GB of storage
  .card.mb-4.box-shadow
    .card-header
      h4.my-0.font-weight-normal
        | Free
    .card-body
      h1.card-title
        | $0 
        small.text-muted
          | / mo
      ul.list-unstyled
        li
          | 10 users included
        li
          | 2 GB of storage
  .card.mb-4.box-shadow
    .card-header
      h4.my-0.font-weight-normal
        | Free
    .card-body
      h1.card-title
        | $0 
        small.text-muted
          | / mo
      ul.list-unstyled
        li
          | 10 users included
        li
          | 2 GB of storage
.row
  .col-md-4
    .card.mb-4.box-shadow
      .card-header
        h4.my-0.font-weight-normal
          | Free
      .card-body
        h1.card-title
          | $0 
          small.text-muted
            | / mo
        ul.list-unstyled
          li
            | 10 users included
          li
            | 2 GB of storage
  .col-md-4
    .card.mb-4.box-shadow
      .card-header
        h4.my-0.font-weight-normal
          | Free
      .card-body
        h1.card-title
          | $0 
          small.text-muted
            | / mo
        ul.list-unstyled
          li
            | 10 users included
          li
            | 2 GB of storage
  .col-md-4
    .card.mb-4.box-shadow
      .card-header
        h4.my-0.font-weight-normal
          | Free
      .card-body
        h1.card-title
          | $0 
          small.text-muted
            | / mo
        ul.list-unstyled
          li
            | 10 users included
          li
            | 2 GB of storage
